.containerForPIXI {
  float: right;
  width: 85vw;
  height: 100vh;
}

body {
  display: flex;

  align-items: center;

  justify-content: center;

  margin: 0;

  font-family: "Noto Sans HK", sans-serif;

  font-weight: 400;

  color: #fff;

  background: #f4f4f4;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1024px;
  height: 550px;
  border-radius: 20px;
  border: 4px solid rgba(57, 54, 56, 1);
  background: #000;
  box-shadow: -5px 5px 20px 10px rgba(0, 0, 0, 0.3);
}

.loader {
  position: absolute;
  z-index: 2;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  // background-color: white;

  &__cube {
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    border: 1px solid #ffffff;
  }

  &__line {
    position: absolute;
    top: 0;
    height: 100px;
    left: 50%;
    transform: translateX(calc(-50% + 1px));
    width: 1px;
    background: #ffffff;
    // background: red;
  }
}
