body {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

.locationData {
  position: absolute;
  margin-left: 3%;
  margin-top: 3%;
  z-index: 3;
  top: 0;
}

.locationData p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 8px;
  color: green;
}

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: gray;
  background-size: cover;
}

.floatBasic {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.container1 {
  z-index: 1;
  background-image: url("../../../assets/1.jpeg");
  background-position-x: center;
  background-position-y: center;
}
.container2 {
  z-index: 2;
  background-image: url("../../../assets/black0.png");
  filter: blur(3px);
  background-position: center center;
}
