<body>
  <div class="background"></div>

  <div id="container1" class="container1" [style.background-position-x]="newCenterPositionX"
    [style.background-position-y]="newCenterPositionY">
  </div>
  <div class="container2">
  </div>
  <div class="locationData">
    <p>centerX: {{centerX}}, centerY: {{centerY}}</p>
    <p>(relative to center) cursorX: {{cursorPositionX}}, cursorY: {{cursorPositionY}}</p>
    <p>newCenterX: {{newCenterPositionX}}, newCenterY: {{newCenterPositionY}}</p>
  </div>

</body>
