<body>
  <div class="background"></div>

  <div>
    <div id="container" class="floatBasic underPicrture" [style.background-position-x]="newCenterPositionX"
      [style.background-position-y]="newCenterPositionY" [style.transform]="scaleString">
    </div>
    <div class="floatBasic coverPicture"></div>
    <div class="locationData">
      <h1>Home is far away</h1>
      <p>XBias: {{containerXBias}}</p>

      <p>CenterX: {{centerX}}, CenterY: {{centerY}}</p>
      <p>CursorX: {{cursorPositionX}}, CursorY: {{cursorPositionY}}</p>

      <p>scale: {{scaleNum}}</p>
      <p>deltaY: {{deltaY}}</p>


    </div>
  </div>
</body>
