<div class="sideBar">
  <div class="sideBarBody">
    <!-- <p>
      <a routerLink="photoContainer" routerLinkActive="router-link-active">photoContainer</a>
    </p> -->
    <p>
      <a routerLink="photoLens" routerLinkActive="router-link-active">PhotoLens</a>
    </p>
    <p>
      <a routerLink="fakeIDE" routerLinkActive="router-link-active">Fake IDE</a>
    </p>
    <p>
      <a routerLink="onePageScroll" routerLinkActive="router-link-active">1PScroll</a>
    </p>
    <!-- <p>
      <a routerLink="animation" routerLinkActive="router-link-active">Animation</a>
    </p> -->

  </div>

  <!-- <video src="../../../assets/profile.mp4" class="videoProfile" autoplay="true" loop></video> -->


</div>
