.sideBar {
  position: absolute;
  z-index: 10;
  width: 15vw;
  height: 100vh;
}
.sideBarBody{
  float: right;
  background-color: antiquewhite;
  padding-top: 30%;
  padding-right: 10%;
}

.sideBar p {
  text-align: right;
  font-size: 12px;
}

// .RouteContent {
//   float: right;
//   width: 85vw;
//   height: 100vh;
// }
