.sideBar {
  position: absolute;
  z-index: 10;
  width: 10vw;
  height: 100vh;
}
.sideBarBody {
  float: right;
  // background-color: gainsboro;
  padding-top: 30%;
  padding-right: 10%;
}
.router-link-active {
  color: blue !important;
}
.sideBar a {
  color: black;
  text-decoration: none;
}
.sideBar p {
  text-align: right;
  font-size: 12px;
}

a {
  font-size: 25px;
}
