<label class="image-upload-container btn btn-bwm">

  <!-- <span>Select Image</span> -->
  <!-- <input #imageInput type="file" accept="image/*" (change)="onSelectFile($event)"> -->
  <!-- <img id="inputIMG" [src]="img" height="200"> -->
  <!-- <canvas id="canvas" width="1500" height="1500" style="border:1px solid #d3d3d3;"></canvas> -->

</label>
<div>
  <p> yolololol</p>
  <p (click)="startDetect()">startDetect</p>
  <p (click)="stopDetect()">stopDetect</p>

  <div>
    <p>video {{detecting}}</p>
    <video #video id="video" [width]="WIDTH" [height]="HEIGHT" autoplay></video>
  </div>

  <div *ngIf="detecting">
    <p>canvas {{detecting}}</p>
    <canvas #canvas id="canvas" [width]="WIDTH" [height]="HEIGHT"></canvas>
  </div>
</div>
