<body>
  <div style="position: absolute; z-index: 300;margin-left: 60vw;">
    <p> {{pointTo}} </p>
    <!-- <video src="../../../assets/profile.mp4" class="videoProfile" autoplay="true" loop></video> -->
  </div>
  <div>
    <div [@pageScroll]="statusForSection[0]" id="section1" class="section1 fullPage">
      <img src="../../../assets/1.jpeg">
    </div>
    <div [@pageScroll]="statusForSection[1]" id="section2" class="section2 fullPage">
      <img src="../../../assets/2.jpeg">
    </div>
    <div [@pageScroll]="statusForSection[2]" id="section3" class="section3 fullPage">
      <img src="../../../assets/3.jpeg">
    </div>
  </div>

  <div [@panelSlide]="statusForSection[0]" class="panel">
    <div class="panelContent">
      <h1>Title</h1>
      <h2 style="margin-left: 15px; opacity: 75%;">Subtitle</h2>

      <p>
        [Verse 1]
        From walking home and talking loads
        To seeing shows in evening clothes with you
        From nervous touch and getting drunk
        To staying up and waking up with you
        <br>
        [Pre-Chorus]
        Now we're slipping near the edge
        Holding something we don't need
        All this delusion in our heads
        Is gonna bring us to our knees
        <br>

        [Chorus]
        So, come on, let it go, just let it be
        Why don't you be you, and I'll be me?
        Everything that's broke, leave it to the breeze
        Why don't you be you, and I'll be me?
        And I'll be me
        <br>

        [Verse 2]
        From throwing clothes across the floor
        To teeth and claws and slamming doors at you
        If this is all we're living for
        Why are we doing it, doing it, doing it anymore?
        <br>

        [Pre-Chorus]
        I used to recognize myself
        It's funny how reflections change
        When we're becoming something else
        I think it's time to walk away
        [Chorus]
        So, come on, let it go, just let it be
        Why don't you be you, and I'll be me?
        Everything that's broke, leave it to the breeze
        Why don't you be you, and I'll be me?
        And I'll be me
        <br>

        [Bridge]
        Tryna fit your hand inside of mine
        When we know it just don't belong
        'Cause no force on earth could make it feel right, no, no
        Tryna push this problem up the hill
        When it's just too heavy to hold
        I think now's the time to let it slide, sing it loud
        <br>

        [Breakdown]
        (Come on, let it go, just let it be)
        (Why don't you be you, and I'll be me?) Yeah
        And everything that's broke, leave it to the breeze
        Let the ashes fall, forget about me
        <br>

        [Outro]
        Come on, let it go, just let it be
        Why don't you be you, and I'll be me?
        And I'll be me, oh-whoa
      </p>
    </div>
  </div>
  <div [@panelSlide]="statusForSection[1]" class="panel">
    <div class="panelContent">
      <h1>Second section</h1>
      <p>
        [Verse 1]
        From walking home and talking loads
        To seeing shows in evening clothes with you
        From nervous touch and getting drunk
        To staying up and waking up with you
        <br>
        [Pre-Chorus]
        Now we're slipping near the edge
        Holding something we don't need
        All this delusion in our heads
        Is gonna bring us to our knees
        <br>

        [Chorus]
        So, come on, let it go, just let it be
        Why don't you be you, and I'll be me?
        Everything that's broke, leave it to the breeze
        Why don't you be you, and I'll be me?
        And I'll be me
        <br>

        [Verse 2]
        From throwing clothes across the floor
        To teeth and claws and slamming doors at you
        If this is all we're living for
        Why are we doing it, doing it, doing it anymore?
        <br>

        [Pre-Chorus]
        I used to recognize myself
        It's funny how reflections change
        When we're becoming something else
        I think it's time to walk away
        [Chorus]
        So, come on, let it go, just let it be
        Why don't you be you, and I'll be me?
        Everything that's broke, leave it to the breeze
        Why don't you be you, and I'll be me?
        And I'll be me
        <br>

        [Bridge]
        Tryna fit your hand inside of mine
        When we know it just don't belong
        'Cause no force on earth could make it feel right, no, no
        Tryna push this problem up the hill
        When it's just too heavy to hold
        I think now's the time to let it slide, sing it loud
        <br>

        [Breakdown]
        (Come on, let it go, just let it be)
        (Why don't you be you, and I'll be me?) Yeah
        And everything that's broke, leave it to the breeze
        Let the ashes fall, forget about me
        <br>

        [Outro]
        Come on, let it go, just let it be
        Why don't you be you, and I'll be me?
        And I'll be me, oh-whoa
      </p>
    </div>
  </div>
  <div [@panelSlide]="statusForSection[2]" class="panel">
    <div class="panelContent">
      <h1>Third section</h1>
      <h2>Third section</h2>
      <p>
        [Verse 1]
        From walking home and talking loads
        To seeing shows in evening clothes with you
        From nervous touch and getting drunk
        To staying up and waking up with you
        <br>
        [Pre-Chorus]
        Now we're slipping near the edge
        Holding something we don't need
        All this delusion in our heads
        Is gonna bring us to our knees
        <br>

        [Chorus]
        So, come on, let it go, just let it be
        Why don't you be you, and I'll be me?
        Everything that's broke, leave it to the breeze
        Why don't you be you, and I'll be me?
        And I'll be me
        <br>

        [Verse 2]
        From throwing clothes across the floor
        To teeth and claws and slamming doors at you
        If this is all we're living for
        Why are we doing it, doing it, doing it anymore?
        <br>

        [Pre-Chorus]
        I used to recognize myself
        It's funny how reflections change
        When we're becoming something else
        I think it's time to walk away
        [Chorus]
        So, come on, let it go, just let it be
        Why don't you be you, and I'll be me?
        Everything that's broke, leave it to the breeze
        Why don't you be you, and I'll be me?
        And I'll be me
        <br>

        [Bridge]
        Tryna fit your hand inside of mine
        When we know it just don't belong
        'Cause no force on earth could make it feel right, no, no
        Tryna push this problem up the hill
        When it's just too heavy to hold
        I think now's the time to let it slide, sing it loud
        <br>

        [Breakdown]
        (Come on, let it go, just let it be)
        (Why don't you be you, and I'll be me?) Yeah
        And everything that's broke, leave it to the breeze
        Let the ashes fall, forget about me
        <br>

        [Outro]
        Come on, let it go, just let it be
        Why don't you be you, and I'll be me?
        And I'll be me, oh-whoa
      </p>
    </div>
  </div>


</body>
