/* You can add global styles to this file, and also import other style files */

// .videoProfile {
//   margin-top: 30vh;
//   margin-left: 2vw;
//   max-width: 10vw;
//   scale: 0.3;
// }

.my-custom-snackbar {
  color: white;
  position: absolute;
  width: 100%;
  left: 5vw;
  bottom: 2vh;
  background-color: red;
}
